* {
  font-family: 'Darker Grotesque', sans-serif;
}
body {
  margin: 0 0.5em 0 0.5em;
}
.masonry { /* Mosaic grid */
  column-count: 2;
  column-gap: 1em;
  margin: auto;
}
.masonry-brick { /* Project cards */
  background-color: #ececec;
  display: inline-block;
  margin: 0.5em 0 0.5em 0;
  width: 100%;
  border-radius: 0.25em;
}
.masonry-brick:hover {
  -webkit-box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.4);
}
.card {
  padding: 1.25em;
}
.category {
  margin: 0px 0 8px 0;
  font-weight: bold;
  font-size: 1.25em;
}
.rectangle {
  width: 2em;
  height: 0.25em;
}
.content {
  margin: 0px 0 8px 0;
  font-weight: normal;
  font-size: 1.75em;
}
img.thumnail {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Extra large devices (large desktops, 1200px and up) */
@media(min-width:1200px){
  .masonry {
    column-count: 2;
    width: 50%;
  }
}
/* Large devices (desktops, 992px and up) */
@media(min-width:992px) and (max-width:1199.98px){
  .masonry {
    column-count: 2;
    width: 66.66666666%;
  }
}
/* Medium devices (tablets, 768px and up) */
@media(min-width:768px) and (max-width:991.98px){
  .masonry {
    column-count: 2;
    width: 83.33333333%;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media(min-width:576px) and (max-width:767.98px){
  .masonry {
    column-count: 1;
    width: 100%;
  }
}
/* Extra small devices (portrait phones less than 576px) */
@media(max-width:575.98px){
  .masonry {
    column-count: 1;
    width: 100%;
  }
}
