/* Space Grotesk Font */
@font-face {
   font-family: 'Space Grotesk';
   src: url(SpaceGrotesk-Light.woff) format('woff');
   font-weight: 300;
}
@font-face {
   font-family: 'Space Grotesk';
   src: url(SpaceGrotesk-Regular.woff)format('woff');
   font-weight: 400;
}
@font-face {
   font-family: 'Space Grotesk';
   src: url(SpaceGrotesk-Medium.woff)format('woff');
   font-weight: 500;
}
@font-face {
   font-family: 'Space Grotesk';
   src: url(SpaceGrotesk-SemiBold.woff) format('woff');
   font-weight: 600;
}
@font-face {
   font-family: 'Space Grotesk';
   src: url(SpaceGrotesk-Bold.woff) format('woff');
   font-weight: 700;
}
* {
  font-family: 'Space Grotesk', sans-serif;
  font-feature-settings: 'ss02' on, 'ss05' on;
}
body {
  margin: 0 0.5em 0 0.5em;
}
.masonry { /* Mosaic grid */
  column-count: 2;
  column-gap: 1rem;
  margin: auto;
}
.masonry-brick { /* Project cards */
  background-color: #ececec;
  display: inline-block;
  margin: 0.5rem 0 0.5rem 0;
  width: 100%;
  border-radius: 0.25rem;
}
.masonry-brick:hover {
  -webkit-box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.4);
}
.card {
  padding: 1.25rem;
}
.category {
  margin: 0 0 0.5rem 0;
  font-weight: 700;
  font-size: 1.25rem;
}
.rectangle {
  margin: 0 0 0.5rem 0;
  width: 2rem;
  height: 0.25rem;
}
.content {
  margin: 0;
  font-weight: 400;
  font-size: 1.75rem;
}
img.thumnail {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Extra large devices (large desktops, 1200px and up) */
@media(min-width:1200px){
  .masonry {
    column-count: 2;
    width: 50%;
  }
}
/* Large devices (desktops, 992px and up) */
@media(min-width:992px) and (max-width:1199.98px){
  .masonry {
    column-count: 2;
    width: 66.66666666%;
  }
}
/* Medium devices (tablets, 768px and up) */
@media(min-width:768px) and (max-width:991.98px){
  .masonry {
    column-count: 2;
    width: 83.33333333%;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media(min-width:576px) and (max-width:767.98px){
  .masonry {
    column-count: 1;
    width: 100%;
  }
}
/* Extra small devices (portrait phones less than 576px) */
@media(max-width:575.98px){
  .masonry {
    column-count: 1;
    width: 100%;
  }
}
